# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [49]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np

Baltimore = pd.read_csv('baltimore.csv')
New_York = pd.read_csv('new-york.csv')
Boston = pd.read_csv('boston.csv')
Philadelphia = pd.read_csv('philadelphia.csv')

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [50]:
for col in Boston.columns:
    pct_missing = np.mean(Boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [51]:
for col in Baltimore.columns:
    pct_missing = np.mean(Baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    
    
    
#delete the columns with no data
Baltimore = Baltimore.drop(["Type", "Grade", "Origin District", "Color", "Environment", "Quality", "Condition", "Appearance","Storage", "Crop", "Trans Mode", "Sub Variety"], axis=1)

Baltimore.head()

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

,Commodity Name,City Name,Package,Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,DELAWARE,med,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,NaN,N

In [52]:
for col in New_York.columns:
    pct_missing = np.mean(New_York[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

    
#delete the columns with no data
New_York = New_York.drop(["Type", "Grade", "Origin District", "Color", "Environment", "Quality", "Condition", "Appearance","Storage", "Crop", "Trans Mode", "Sub Variety"], axis=1)

New_York.head()

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

,Commodity Name,City Name,Package,Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Unit of Sale,Repack
0,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,09/24/2016,150,170,150,170,MICHIGAN,xlge,NaN,N
1,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,09/24/2016,150,170,150,170,MICHIGAN,lge,NaN,N
2,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,09/24/2016,130,150,130,150,NEW JERSEY,xlge,NaN,N
3,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,09/24/2016,130,150,130,150,NEW JERSEY,lge,NaN,N
4,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,09/24/2016,120,140,120,140,NEW YORK,med-lge,NaN,N

In [57]:
for col in Philadelphia.columns:
    pct_missing = np.mean(Philadelphia[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    
#delete the columns with no data
Philadelphia = Philadelphia.drop(["Type", "Grade", "Origin District", "Color", "Environment", "Quality", "Condition", "Appearance","Storage", "Crop", "Trans Mode", "Sub Variety"], axis=1)

Philadelphia.head()

Commodity Name - 0%
City Name - 0%
Package - 0%
Variety - 0%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Item Size - 21%
Unit of Sale - 81%
Repack - 0%

KeyError: "['Type' 'Grade' 'Origin District' 'Color' 'Environment' 'Quality'\n 'Condition' 'Appearance' 'Storage' 'Crop' 'Trans Mode' 'Sub Variety'] not found in axis"

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [58]:
# Combine the four dataframes into one!
Northeast_Region = pd.concat([Philadelphia,Baltimore, Boston, New_York],
                            keys = ['Philadelphia', 'Baltimore', 'Boston', 'New York'])
Northeast_Region

                 Commodity Name     City Name              Package  \
Philadelphia 0         PUMPKINS  PHILADELPHIA         24 inch bins
             1         PUMPKINS  PHILADELPHIA         36 inch bins
             2         PUMPKINS  PHILADELPHIA         36 inch bins
             3         PUMPKINS  PHILADELPHIA         36 inch bins
             4         PUMPKINS  PHILADELPHIA         36 inch bins
...                         ...           ...                  ...
New York     107       PUMPKINS      NEW YORK       bushel cartons
             108       PUMPKINS      NEW YORK  1 1/9 bushel crates
             109       PUMPKINS      NEW YORK  1 1/9 bushel crates
             110       PUMPKINS      NEW YORK  1 1/9 bushel crates
             111       PUMPKINS      NEW YORK  1 1/9 bushel crates

                      Variety        Date  Low Price  High Price  Mostly Low  \
Philadelphia 0    HOWDEN TYPE  09/16/2017        140       150.0         140
             1    HOWDEN TYPE  09/24/2016        150       150.0         150
             2    HOWDEN TYPE  09/24/2016        150       150.0         150
             3    HOWDEN TYPE  09/24/2016        150       160.0         150
             4    HOWDEN TYPE  10/01/2016        140       140.0         140
...                       ...         ...        ...         ...         ...
New York     107    MINIATURE  09/09/2017         32        32.0          32
             108    MINIATURE  10/08/2016         18        18.0          18
             109    MINIATURE  10/08/2016         18        18.0          18
             110    MINIATURE  10/15/2016         18        18.0          18
             111    MINIATURE  10/15/2016         18        18.0          18

                  Mostly High        Origin  ... Grade Origin District Color  \
Philadelphia 0          150.0  PENNSYLVANIA  ...   NaN             NaN   NaN
             1          150.0      NEW YORK  ...   NaN             NaN   NaN
             2          150.0      NEW YORK  ...   NaN             NaN   NaN
             3          160.0  PENNSYLVANIA  ...   NaN             NaN   NaN
             4          140.0    NEW JERSEY  ...   NaN             NaN   NaN
...                       ...           ...  ...   ...             ...   ...
New York     107         32.0          OHIO  ...   NaN             NaN   NaN
             108         18.0      NEW YORK  ...   NaN             NaN   NaN
             109         18.0      NEW YORK  ...   NaN             NaN   NaN
             110         18.0      NEW YORK  ...   NaN             NaN   NaN
             111         18.0      NEW YORK  ...   NaN             NaN   NaN

                  Environment Quality  Condition Appearance Storage  Crop  \
Philadelphia 0            NaN     NaN        NaN        NaN     NaN   NaN
             1            NaN     NaN        NaN        NaN     NaN   NaN
             2            NaN     NaN        NaN        NaN     NaN   NaN
             3            NaN     NaN        NaN        NaN     NaN   NaN
             4            NaN     NaN        NaN        NaN     NaN   NaN
...                       ...     ...        ...        ...     ...   ...
New York     107          NaN     NaN        NaN        NaN     NaN   NaN
             108          NaN     NaN        NaN        NaN     NaN   NaN
             109          NaN     NaN        NaN        NaN     NaN   NaN
             110          NaN     NaN        NaN        NaN     NaN   NaN
             111          NaN     NaN        NaN        NaN     NaN   NaN

                  Trans Mode
Philadelphia 0           NaN
             1           NaN
             2           NaN
             3           NaN
             4           NaN
...                      ...
New York     107         NaN
             108         NaN
             109         NaN
             110         NaN
             111         NaN

[674 rows x 25 columns]

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [75]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

low_price = Northeast_Region.groupby('Low Price')
high_price = Northeast_Region.groupby('High Price')
low_price.first()
high_price.first()
low_price.agg('mean')
high_price.agg('mean')

,Low Price,Mostly Low,Mostly High,Type,Grade,Environment,Quality,Condition,Appearance,Storage,Crop,Trans Mode
High Price,,,,,,,,,,,,
12.0,12.000000,12.000000,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14.0,12.000000,12.000000,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15.0,15.000000,15.000000,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16.0,15.131579,15.131579,15.210526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17.0,16.333333,16.333333,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.0,16.192308,16.243590,16.923077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.5,17.000000,17.000000,18.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20.0,18.333333,18.500000,19.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22.0,18.000000,18.000000,22.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24.0,22.400000,24.000000,24.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29.0,28.666667,28.666667,29.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32.0,32.000000,32.000000,32.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50.0,50.000000,50.000000,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60.0,47.727273,47.727273,60.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80.0,75.000000,75.000000,80.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100.0,84.000000,84.000000,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120.0,112.500000,115.000000,117.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125.0,110.000000,110.000000,125.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130.0,122.307692,122.307692,130.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140.0,133.000000,133.400000,140.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150.0,136.730769,138.653846,150.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155.0,140.000000,140.000000,155.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160.0,144.000000,148.400000,153.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170.0,150.833333,150.833333,170.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175.0,167.857143,167.857143,170.714286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180.0,165.000000,168.125000,174.270833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190.0,185.000000,185.000000,190.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200.0,174.420290,179.637681,185.144928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210.0,210.000000,210.000000,210.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220.0,193.000000,208.000000,211.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225.0,182.121212,195.606061,201.818182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230.0,207.500000,207.500000,230.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240.0,210.000000,213.333333,226.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250.0,243.000000,243.000000,250.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260.0,251.666667,251.666667,260.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265.0,200.000000,200.000000,265.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280.0,256.250000,257.500000,265.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285.0,260.000000,285.000000,285.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300.0,264.736842,276.842105,290.789474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340.0,340.000000,340.000000,340.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350.0,275.000000,275.000000,350.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380.0,380.000000,380.000000,380.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
variety = Northeast_Region.groupby('Variety')
city = Northeast_Region.groupby('City Name')
variety.head()
city.head()
variety.mean()

,Low Price,High Price,Mostly Low,Mostly High,Type,Grade,Environment,Quality,Condition,Appearance,Storage,Crop,Trans Mode
Variety,,,,,,,,,,,,,
BIG MACK TYPE,129.454545,147.272727,137.363636,145.454545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BLUE TYPE,260.000000,285.000000,285.000000,285.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CINDERELLA,206.051282,220.974359,215.025641,220.974359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FAIRYTALE,198.783784,214.108108,208.243243,213.648649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HOWDEN TYPE,152.834821,177.098214,158.303571,165.290179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HOWDEN WHITE TYPE,170.000000,180.000000,170.000000,180.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KNUCKLE HEAD,238.888889,260.555556,258.333333,260.555556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MINIATURE,16.391753,17.886598,16.453608,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MIXED HEIRLOOM VARIETIES,210.000000,230.000000,210.000000,230.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PIE TYPE,133.404040,148.118687,137.459596,142.568182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!